<div class="projects">
  <h2>Recent Projects</h2>
  <ul>
    <li>Project 1</li>
    <li>Project 2</li>
    <li>project 3</li>
  </ul>
</div>
<div class="blog">
  <h2>Recent Blog Posts</h2>
  <h3>Post title</h3>
  <p>
    Hodor hodor HODOR! Hodor hodor... Hodor hodor hodor; hodor hodor, hodor, hodor hodor. Hodor hodor - hodor; hodor hodor - hodor... Hodor hodor hodor?! Hodor hodor - hodor, hodor. Hodor hodor - hodor - hodor. Hodor. Hodor hodor - hodor? Hodor. Hodor hodor, hodor. Hodor hodor, hodor. Hodor hodor hodor!
    Hodor hodor - hodor; hodor hodor hodor hodor, hodor. Hodor hodor? Hodor HODOR hodor, hodor hodor... Hodor hodor hodor, hodor. Hodor hodor, hodor, hodor hodor. Hodor. Hodor hodor hodor hodor - hodor hodor, hodor. Hodor hodor hodor! Hodor! Hodor hodor, hodor - hodor... Hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor. Hodor hodor - HODOR hodor, hodor HODOR hodor, hodor hodor, hodor, hodor hodor.
  </p>
</div>
